.signin_container {
    width: 450px;
    margin: 0 auto;
    padding: 3em;
    margin-top: 15%;
}

.signin_container h1 {
    margin-bottom: 0.5em;
}

.signin_container p {
    color: #7b7b7b;
}


@media only screen and (max-width: 1334px) {
    .signin_container {
        width: 650px;
        margin: 0 auto;
        padding: 3em;
        margin-top: 25%;
    }
    .signin_container h1 {
        margin-bottom: 0.5em;
        font-size: 100px;
    }

}