.project_container{
    padding: 2em;
}

.title_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.product_card{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.product_card h4{
    background-color: rgb(53, 52, 52);
    color:  #fc540c;
    padding: 0.4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.product_card p{
    color: rgb(53, 52, 52);
    margin-bottom: 1em;
}

.project_card_actions button{
    text-decoration: none;
    border: none;
    background-color: #fff;
    color: rgb(53, 52, 52);
    font-size: .9em;
    padding: .6em .1em;
    cursor: pointer;
    margin-right: 1em;
    border: 1px solid rgb(53, 52, 52);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.project_card_actions button:hover{
    color: #fc540c;
}



@media only screen and (max-width: 1334px) {

    .project_container{
        padding: 2em;
    }

    .project_container button{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 30px;
        text-decoration: none;
    }

    
    .title_container{
        display: grid;
        justify-content:space-between;
        margin-bottom: 2em;
        font-size: 4vw;
    }
    
    .product_card{
        padding: 1em;
        border: 1px solid #7a7a7a;
        border-radius: 5px;
        width: 29%;
        margin: 0.5%;
        margin-bottom: 25px;
    }
    
    .product_card h4{
        background-color: rgb(53, 52, 52);
        color:  #fc540c;
        padding: 0.4em;
        margin-bottom: 1.3em;
        font-size: 1.3em;
    }
    
    .product_card p{
        color: rgb(53, 52, 52);
        margin-bottom: 1em;
    }
    
    .project_card_actions button{
        text-decoration: none;
        border: none;
        background-color: #fff;
        color: rgb(53, 52, 52);
        font-size: .9em;
        padding: .6em .1em;
        cursor: pointer;
        margin-right: 1em;
        border: 1px solid rgb(53, 52, 52);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }
    
    .project_card_actions button:hover{
        color: #fc540c;
    }

}