.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 29, 29);
    padding: 1em;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item{
    margin-right: 1em;
}

.item a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.item a:hover{
    color: #fc540c;
}

.login a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
}

.login{
    margin-right: 1em;
}

.login a:hover{
    color: #fc540c;
}



@media only screen and (max-width: 1334px) {

    .navbar{
        display: flex;
        justify-content: space-between;
        background-color: rgb(29, 29, 29);
        padding: 1em;
        font-size: 2.5em;
    }
    
  }